<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/404.css">
    <title>Bioage</title>
</head>
<body>
    <div class="container">
        <div>
            <img src="../static/images/Name_light.jpg" alt="logo">
            <h1>404 - Page Not Found</h1>
            <p>Oops! We are currently under maintenance</p>
            <p>We will be back soon with new content</p>
            <p>Sorry for any inconvience</p>
            
        </div>
    </div>
    
</body>
</html>