<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css">
    <title>BioAge</title>
</head>
<body>
    <div class="banner">
        <div class="bleft">
            <img src="../static/images/BioAge Logo -1-.png" alt="Logo">
        </div>
        <div class="bright">
            contact details
        </div>
    </div>
    <div class="navbar">
        <div class="navleft">
            logo
            BioAge
        </div>
        <div class="navright">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">Results</a></li>
            </ul>
        </div>
        <div class="mainbody">
            <div class="centrepiece">
                images 
            </div>
            <div class="facts">
                Product facts
            </div>
            <div class="about">
                vision
                aims 
                who we are
            </div>
        </div>
    </div>
</body>
</html>